<!doctype html>
<title>{% block title %}{% endblock %} - Web Measurement Center</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Web Measurement Center</title>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type = "text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.js"></script>

    <script type="text/javascript">

        var chartstyle = 1;
        var numberOfSamples = '1800';
        var interleave = '30';
        var autoupdate = false;
        var updateinterval = '60';
        //var ip = "http://192.168.0.125:5000";
        var ip = '';

        var lastupdatetime = 'N/A';

        function drawChart(dataURL, statusTag, targetTag, chartTitle) {
            $(statusTag).html("Loading...");

            console.log('Load data from: ', dataURL, ' at ', new Date().toLocaleString(), ' Style: ', chartstyle);

            // use d3 library to load chart data in JSON format
            d3.json(dataURL, function(data) {

                if (data != null) {
                    var dataItemCount = data.length;
                    console.log('Received data from: ', dataURL, " Received items: ",
                                dataItemCount, ' at ', new Date().toLocaleString());

                    // now need to convert the dates for the charting package

                    for (var i = 0; i < dataItemCount; i++) {
                        var dataItem = data[i];
                        var dateObject = new Date(Date.parse(dataItem.isodatetime));
                        dataItem.date = dateObject;
                    }

                    // size chart window width to browers viewport width
                    var viewportWidth  = document.documentElement.clientWidth;

                    var chartwidth = 0;
                    if (chartstyle == 2) {
                        chartwidth = (viewportWidth - 32) / 2;
                        chartheight = 180;
                    } else {
                        chartwidth = viewportWidth - 32;
                        chartheight = 300;
                    }

                    //data = MG.convert.date(data, 'date');
                    MG.data_graphic({
                        title: chartTitle,
                        description: "This graphic shows measurements from the Raspberry Pi Sensors",
                        data: data,
                        area: false,
                        width: chartwidth,
                        height: chartheight,
                        top : 35,
                        target: targetTag,
                        x_accessor: 'date',
                        y_accessor: 'value'
                    });

                    $(statusTag).html('Last Updated: ' + lastupdatetime);
                } else {
                    console.log('No data received from: ', dataURL);
                }
            });
        }

        function drawCharts(numberOfSamples, interleave) {
            drawChart(ip + '/datapoints/1/' + numberOfSamples + '/' + interleave, "#channel1Status", "#channel1Chart", "Temperature Air [F]");
            drawChart(ip + '/datapoints/2/' + numberOfSamples + '/' + interleave, "#channel2Status", "#channel2Chart", "Temperature Ground [F]");
            drawChart(ip + '/datapoints/3/' + numberOfSamples + '/' + interleave, "#channel3Status", "#channel3Chart", "Voltage Solar Panel [V]");
            drawChart(ip + '/datapoints/4/' + numberOfSamples + '/' + interleave, "#channel4Status", "#channel4Chart", "Voltage Battery [V]");
            drawChart(ip + '/datapoints/5/' + numberOfSamples + '/' + interleave, "#channel5Status", "#channel5Chart", "Current [A]");
            drawChart(ip + '/datapoints/6/' + numberOfSamples + '/' + interleave, "#channel6Status", "#channel6Chart", "Inverter Draw [A]");
        };

        function updateCurrentTemperature() {
            for (var i = 1; i < 7; i++) {
                let s = i.toString();
                $.getJSON(ip + '/datapoint/' + s, function(d) {
                    var tag = '#currentTemp' + s;
                    $(tag).html(d.value.toFixed(2));
                    $(currentLastUpdated).html(d.time);
                    lastupdatetime = d.time;
              });
            };
        };

        function setUpdateTimer() {

            updateinterval = $('#updateinterval').val();
            updateintervalint = Number(updateinterval) * 1000;
            autoupdate = $('#autoupdate').is(':checked');
            console.log('Set update timer: ', updateintervalint, autoupdate, " at ", new Date().toLocaleString());

            // set interval to reload every 60s if checkbox for auto-reload is checked
            setTimeout(function() {
                autoupdate = $('#autoupdate').is(':checked');
                console.log('Update timer fired: ', updateintervalint, autoupdate, " at ", new Date().toLocaleString());
                if (autoupdate) {
                  updateDisplay();
                }
            }, updateintervalint);
        }

        function updateDisplay() {
            console.log("Reload charts");
            numberOfSamples = $('#inputNumberSamples').val();
            interleave = $('#inputInterleave').val();
            updateCurrentTemperature()
            drawCharts(numberOfSamples, interleave);

            // set update timer to redraw automatically (if checkbox checked)
            setUpdateTimer();
        }

        $(document).ready(function(){

            $('#inputNumberSamples').val(numberOfSamples);
            $('#inputInterleave').val(interleave);
            $('#updateinterval').val(updateinterval);

            updateCurrentTemperature()

            numberOfSamples = $('#inputNumberSamples').val();
            console.log(numberOfSamples);
            interleave = $('#inputInterleave').val();
            autoupdate = $('#autoupdate').val();
            updateinterval = $('#updateinterval').val();
            updateintervalint = Number(updateinterval);

            $('#reloadCharts').click(function(){
                updateDisplay();
            });

            // update hostname
            $.getJSON('/serverinfo', function(d) {
                $('#hostname').html(d.hostname);
            });

            drawCharts(numberOfSamples, interleave);
        });

    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><div id="hostname"></div></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/summarycharts">Summary Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/detailedcharts">Detail Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.0.100:5000">100</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.0.101:5000">101</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Refresh</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>