{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div class="container">
<div class="p-1">
    {% block title %}
    <table class="table">
        <td><h3>Changes</h3></td>
    <td td class=nobr>Last Updated: <b><span id="currentLastUpdated">{{ lastupdated }}</span></b></td>
</table>{% endblock %}
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Sensor 1</th>
      <th scope="col">Sensor 2</th>
      <th scope="col">Sensor 3</th>
    </tr>
  </thead>
    <tbody>
    <style>.nobr { white-space: nowrap }</style>
    {% for line in data %}
    <tr>
        {% for col in line %}
          <td>{{ col }}</td>
        {% endfor %}
     </tr>
    {% endfor %}
    </tbody>
</table>
    <table>
      <td>
        <a class="nav-link" href="http://pitemp/mobile">PiTemp</a>
      </td>
      <td>
        <a class="nav-link" href="http://pished:5000/mobile">PiShed</a>
      </td>
      <td>
        <a class="nav-link" href="http://pibrew:5000/mobile">PiBrew</a>
      </td>
        <td>
        <a class="nav-link" href="http://picam:5000/mobile">PiCam</a>
      </td>
    </table>

    </ul>
</div>
</div>


{% endblock %}

