{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Web Measurement Center{% endblock %}</h3>
{% endblock %}

{% block content %}

<body>
    <hr>
    <br>
    <div class="container">
    <div class="p-1">
    <a href="/datacollectorlog">Data Collector Log</a><br>
    <a href="/servicecontrollerlog">Service Controller Log</a><br>
    <a href="/summary">Summary data</a><br>
    <a href="/current">Current data</a><br>
    <a href="/db.csv">Get all data in CSV format</a><br>
    <a href="/datapoints/1">All data points for sensor 1</a><br>
    <a href="/datapoints/today/1">All data points for sensor 1 from today</a><br>
    <a href="/summarycharts">Summary Charts</a><br>
    <a href="/detailedcharts">Detailed Charts</a><br>
    </div>
    </div>
</body>
</html>

{% endblock %}

