{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}


<hr>
<div class="container">
<div class="p-1">
    <h3>Logs</h3>
        <a href="/datacollectorlog">Data Collector Log</a><br>
        <a href="/servicecontrollerlog">Service Controller Log</a><br>
        <a href="/webapplog">Web App Log</a><br>
        <a href="/thermodisplaylog">Thermodisplay Log</a><br>
        <a href="/opsstatus">Operational Status</a><br>

    <h3>Admin</h3>
        <a href="/reboot">Reboot the Raspberry PI</a><br>
        <a href="/shutdown">Shut down the Raspberry PI</a><br>
        <a href="/resetdb">Reset the DB (clear all data)</a><br>

    <h3>Data Access</h3>
        <a href="/mobile">Mobile friendly summary data</a><br>
        <a href="/changes">Table with changes</a><br>
        <a href="/current">Current data</a><br>
        <a href="/db.csv">Get all data in CSV format</a><br>

    <h3>Charts</h3>
        <a href="/summarycharts">Summary Charts</a><br>
        <a href="/detailedcharts">Detailed Charts</a><br>
</div>
</div>

<script type="text/javascript">

    $(document).ready(function(){

        // update hostname
        $.getJSON('/serverinfo', function(d) {
            $('#hostname').html(d.hostname);
        });

    });
</script>


{% endblock %}

