{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<script type="text/javascript">

    chartstyle = 2;
    console.log('Mobile summary page');
    ip = ""

    function updateCurrentTemperature() {
        for (var i = 1; i < 4; i++) {
            let s = i.toString();
            $.getJSON(ip + '/datapoint/' + s, function(d) {
                var tag = '#currentTemp' + s;
                $(tag).html(d.value.toFixed(2));
                $(currentLastUpdated).html(d.time);
                lastupdatetime = d.time;
          });
        };
    };

    function updateDisplay() {
        console.log("Reload data");
        updateCurrentTemperature()
    }

    $(document).ready(function(){

        updateCurrentTemperature()

        $('#reloadCharts').click(function(){
            updateDisplay();
        });

        // update hostname
        $.getJSON('/serverinfo', function(d) {
            $('#hostname').html(d.hostname);
        });

    });
</script>

<div class="container">
<div class="p-1">

    <h3>{% block title %}Quick View{% endblock %}</h3>

<form class="form-inline">
    <input type="button" id="reloadCharts" class="btn btn-primary mx-sm-3" value="Update">

</form>
<p></p>

<table class="table">
    <td td class=nobr>Last Updated: <b><span id="currentLastUpdated">Loading...</span></b></td>
</table>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Channel</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
    <tbody>
    <style>.nobr { white-space: nowrap }</style>
    <tr>
        <td><div id="channel1Status">Channel 1</div></td><td><div id="channel1Chart"><span id="currentTemp1"></span></div></td>
    </tr>
    <tr>
        <td><div id="channel1Status">Channel 2</div></td><td><div id="channel1Chart"><span id="currentTemp2"></span></div></td>
    </tr>
    <tr>
        <td><div id="channel1Status">Channel 3</div></td><td><div id="channel1Chart"><span id="currentTemp3"></span></div></td>
    </tr>
    </tbody>
</table>
    <table>
      <td>
        <a class="nav-link" href="http://192.168.0.100:5000/mobile">PiTemp</a>
      </td>
      <td>
        <a class="nav-link" href="http://192.168.0.101:5000/mobile">PiShed</a>
      </td>
      <td>
        <a class="nav-link" href="http://192.168.0.104:5000/mobile">PiBrew</a>
      </td></table>

    </ul>
</div>
</div>


{% endblock %}

