{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Summary Charts{% endblock %}</h3>
{% endblock %}

{% block content %}

<script type="text/javascript">
    chartstyle = 2;
    console.log('Set up for Summary style charting ');
</script>

<script src="/static/graphbase.js"></script>
<script src="/static/graphupdater.js"></script>
<script src="/static/graphdocumentready.js"></script>

<table class="table table-primary">
    <style>.nobr { white-space: nowrap }</style>
    <tr>
        <td td class=nobr>Last Updated: <b><span id="currentLastUpdated">12:34:56</span></b></td>
        <td td class=nobr>Air [F]: <b><span id="currentTemp1"></span></b></td>
        <td td class=nobr>Ground [F]: <b><span id="currentTemp2"></span></b></td>
        <td td class=nobr>Solar [V]: <b><span id="currentTemp3"></span></b></td>
        <td td class=nobr>Battery [V]: <b><span id="currentTemp4"></span></b></td>
        <td td class=nobr>Power Draw [A]: <b><span id="currentTemp5"></span></b></td>
        <td td class=nobr>Inverter Draw [A]: <b><span id="currentTemp6"></span></b></td>
    </tr>
</table>

<form class="form-inline">
  <div class="form-group">
    <label for="numberSamples">Number of Samples</label>
    <input type="text" id="inputNumberSamples" size="8" class="form-control mx-sm-3">
  </div>

  <div class="form-group">
    <label for="interleave">Interleave</label>
    <input type="text" id="inputInterleave" size="8" class="form-control mx-sm-3">
  </div>

    <input type="button" id="reloadCharts" class="btn btn-primary mx-sm-3" value="Update Charts">

    <div class="form-group">
    <label for="autoupdate">Update Automatically</label>
    <input type="checkbox" id="autoupdate" class="form-control mx-sm-3">
  </div>

    <div class="form-group">
    <label for="updateinterval">Update Interval</label>
    <input type="text" id="updateinterval" size="8" class="form-control mx-sm-3">
  </div>

</form>
<p></p>
<table>
    <style>.nobr { white-space: nowrap }</style>
    <tr>
        <td><div id="channel1Status"></div><div id="channel1Chart"></div></td>
        <td><div id="channel2Status"></div><div id="channel2Chart"></div></td>
    </tr>
    <tr>
        <td><div id="channel3Status"></div><div id="channel3Chart"></div></td>
        <td><div id="channel4Status"></div><div id="channel4Chart"></div></td>
    </tr>

    <tr>
        <td><div id="channel5Status"></div><div id="channel5Chart"></div></td>
        <td><div id="channel6Status"></div><div id="channel6Chart"></div></td>
    </tr>
</table>
</body>
</html>

{% endblock %}